extends layoutIn.pug

block content
  .center
    br
    br
    img.img-circle(src=user.thumbnail, height="150", width="150")
    h1(align="center") #{user.username}
    p 
      b Reputation: 
      | #{user.repudation}
    p 
      b Account Type: 
      | #{user.acType}
    p 
      b Email Address: 
      | #{user.email}  
    p 
      b Contact Number: 
      | #{user.contact}
    p 
      b Date of Birth: 
      | #{user.dob}
    p 
      b Designation: 
      | #{user.desig}
    p 
      b Institution: 
      | #{user.insti}
    p 
      b Institution Address: 
      | #{user.instiAdd} 
    br
    a(href='/pedit')
      button.btn.btn-primary(type='button') Edit Info
